:root {
  /* dark mode */

  --primary-color-dark-mode: black;
  --secondary-color-dark-mode: ;
  --ternary-color-dark-mode: white;

  /* light mode */

  --primary-color-light-mode: white;
  --secondary-color-light-mode: ;
  --ternary-color-light-mode: black;
}

body {
  /* dark mode */

  background-color: var(--primary-color-dark-mode);
  opacity: 1;
  background-image: radial-gradient(#ffffff 1.05px, transparent 1.05px),
    radial-gradient(#ffffff 1.05px, #000000 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;

  /* light mode */

  /* background-color: var(--primary-color-light-mode);
  opacity: 1;
  background-image: radial-gradient(#000000 1.05px, transparent 1.05px),
    radial-gradient(#000000 1.05px, #ffffff 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px; */
  
}
